@import "variables";
h1 {
    color: $red-color;
}

h2 {
    color: green;
}

.user-avatar{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 4px;
}

.main{
    color: rgb(2, 7, 8);
    background-image: url(/img/C.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    
}