<div class="mt-4">
    <div class="row">
        <div class="col-lg-3">
            <button>Les's feel the music</button>
        </div>

        <div class="col-lg-9">
            <h2>{{course._doc.name}}</h2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{course._doc.videoID}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p>{{course._doc.description}}</p>
        </div>
    </div>
</div>